body {
    background-color: rgb(230, 230, 230);
    background-repeat: y;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Trebuchet MS';
    font-size: 41px;
    color: #333;
    margin-left: 20px;
    display: relative;
}

hr {
    background-color: #333;
    height: 4px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: inline-block;
    height: 250px;
}

table {
    border-top: 5px solid rgb(42, 167, 98);
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 0 7px 0 #333;
    font-size: 20px;
    border-radius: 5px;
}

table img {
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.548);
}

tr,
td {
    padding: 20px;
    font-family: 'calibri';
    vertical-align: top;
    margin: 3px;
    width: 380px;
}

footer {
    display: block;
    background-color: rgb(11, 32, 37);
    color: white;
    font-family: monospace;
    padding: 50px;
    margin-right: 10px;
}

#jnf {
    display: none;
}

#jn {
    display: block;
}

#abouticon {
    width: 80%;
    height: 80%;
    box-shadow: none;
    background-color: unset;
}

#hl {
    width: 1000px;
    background-color: white;
    height: fit-content;
}

#mqtext {
    display: inline-block;
    margin-right: 100px;
}

.nav {
    background-color: #333;
    margin-left: 0;
    padding: 30px;
    margin-right: 0;
    height: fit-content;
    border-bottom: 4px solid rgb(23, 182, 84);
}

.menu {
    display: inline;
    padding: 7px;
    font-size: 24px;
    color: white;
    font-family: 'calibri';
}

.logo {
    display: inline;
    position: absolute;
    padding: 1px;
    font-size: 30px;
    color: white;
    font-family: 'century gothic';
    border-radius: 3px;
    border: 2px solid white;
}

.menu:hover {
    margin-top: 12px;
    transition: 0.3s;
    color: rgb(92, 238, 158);
    border-bottom: 2px solid rgb(92, 238, 158);
}

.highlights {
    height: 150px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-overflow: unset;
    margin: 20px;
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(51, 51, 51, 0.527);
    font-family: 'Californian FB';
    display: inline-block;
}

.about {
    display: block;
    text-align: justify;
    background-color: rgb(230, 230, 230);
    color: black;
    font-size: 25px;
    font-family: 'calibri';
    padding: 70px;
    margin-right: 0px;
}

.fields {
    background-color: white;
    display: block;
    width: 220px;
    padding: 10px;
    border-width: 1px;
    border-color: rgb(23, 182, 84);
    border-radius: 5px;
    margin: 10px;
}

.btn {
    background-color: rgb(23, 182, 84);
    padding: 10px;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
}

.btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.644);
    transition: 0.3s;
}

.form {
    background-color: #333;
    padding: 40px;
    width: 500px;
    border-radius: 5px;
    border-top: 3px solid tomato;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.footercolumn {
    margin-right: 30px;
    display: inline-table;
}

.footercolumn table {
    background-image: none;
    background-color: rgb(11, 32, 37);
    border-top: 5px solid tomato;
    box-shadow: none;
    font-size: 17px;
}

.footercolumn table td {
    padding: 10px;
    font-family: "calibri";
    margin: 3px;
    width: 380px;
}

.footercolumn td:hover {
    color: tomato;
}

.close {
    font-family: 'calibri';
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    color: white;
    background-color: rgb(240, 54, 54);
    width: 20px;
    height: 20px;
    border-width: 0px;
}

.close p {
    margin: 0px;
    display: none;
}

.close:hover {
    width: fit-content;
    padding-left: 14px;
    padding-right: 14px;
    transition: 0.3s;
}

.close:hover p {
    display: inline-block;
    transition: 0.3s;
}

.picture {
    background-image: url("backbooks.jpg");
    height: fit-content;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px;
    font-family: "Fantasy";
    color: white;
    font-size: 40px;
    text-align: center;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 7px #333;
}

.grid-container {
    display: grid;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: auto auto auto auto;
    background-image: url("backpassion.jpg");
    background-size: cover;
}

.grid-item {
    background-color: rgb(91, 135, 185);
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    width: 120px;
    height: 100px;
    border-width: 0px;
}

.grid-item img {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.grid-item:hover {
    background-color: rgba(172, 196, 248, 0.931);
    transition: 0.4s;
}